generated/default/
generated/carbon_recovered_thunks.cpp
out/
*.log
*.xex
*.iso
*.bin
*.nfsp
__pycache__/
.venv/
CMakeUserPresets.json
*.zip
*.7z
*.wmv
*.xma
android/.gradle/
android/.cxx/
android/app/.cxx/
android/app/build/
android/build/
android/local.properties
android/icono/
*.apk
*.aab
*.jks
*.keystore
